.main{
  height: 100vh;
  background: var(--bookplay2);
  padding-top: 100px;

}

.context{
  background: var(--bookplay);
  height: 500px;
  max-width: 600px;
  
  margin: 0 auto;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 80px;

  gap: 3rem;
   
  a{
    color: var(--bookplay2);
    font-size: 20px;
    text-decoration: underline;
  }

  button{
    margin-top: 2rem;
    width: 40%;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 0 0 0;
    border: none;
    font-size:30px;
    color: var(--bookplay2);

    
    transition: 0.2s;

    &:hover{
      color: #ffff;
      background: var(--bookplay2);
    }
  }

  input{
    height: 80px;
    border-radius: 8px;
    padding: 0 16px;
    width: 70%;
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
    background: var(--bookplay2);
    color: #ffff;
    font-size:30px;

  }

  ::placeholder{
    color: #ffff;
  }
}

.login{
  height: 40px;
}