.button{

  height: 2.5rem;
  width:  8rem;
  border: 0;
  border-radius: 2rem;
  background: var(--bookplay2);
  color: var(--gray-100);
  font-size: 1.5rem;
  margin-left: 2rem;

  display:flex;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s;

  &:hover {
    filter:brightness(1.1);
  }


  & + button {
    margin-left: 3rem;
  }


}